.mapimg {
	padding-left: 2.5%;
}
.cls1 {
	background-color: #c91a43;
}

.cls1 p {
	color: #ffffff;
	font-size: 30px;
}

p {
	text-shadow: darkgray;
	color: #667733;
	font-size: 20px;
}